@import url(./common/common.css);
// @import url(/layui/css/layui.css);
// @import url(./common/size.css);
@import url(./common/margin.css);
@import url(./card.css);

.container{
    width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #fafafa;
}

header{
    width: 100%;
    // height: 72px;
    // border-bottom: solid 1px #ddd;
    // background-color: #3f3f3f;
    background: linear-gradient(to right, #1d1d1d, #3f3f3f) ;
    // background: linear-gradient(to right, #1369e9, #13a3e9) ;
    box-shadow: 0 0 5px rgba(200,200,200,.3);


    .navbar{
        display: flex;
        padding: 1rem 0;
        align-items: center;

        .logo{
            // display: block;
            font-size: medium;
            padding: .8rem .8rem;
            // border: solid 1px #ddd;
            border-radius: 2px;
            color: #fff;
            // background:#585858;
            background: rgba(255,255,255,.1);
        }


        ul{
            display: flex;
            margin-left: 5rem;

            li{
                margin: 0 1rem;
                color: #fff;
                cursor: pointer;

                &:hover{
                    color: #13a3e9;
                }
                
            }
        }
    }

}


.main{

    display: flex;
    justify-content: space-between;

    aside{
        display: flex;
        width: 150px;
        height: 850px;
        font-size: 15px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(200,200,200,.3);


        ul{
            margin: 1rem 2rem;

            li{
                margin: 1.5rem 0;
                color: #555;
                cursor: pointer;
                
                &:hover{
                    color: #13a3e9;
                }
            }
        }
    }


    .content{
        display: flex;
        width: 1440px;
        height: 850px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(200,200,200,.3);
    }

}

.focus{
    color: #13a3e9 !important;
}