@import url(./common/common.css);
@import url(./common/margin.css);
@import url(../layui/css/layui.css);

body{
    padding: 1rem 1rem;
}

.layui-btn, .layui-input, .layui-table-cell {
    font-size: 12px;
}

.add-p{
    display: flex;
    margin-left: auto;
}

.search-date{
    display: flex;

    input{
        width: 274px !important;
    }
}

#pie{
    width: 100%;
    height: 350px;
}
#line{
    width: 100%;
    height: 350px;
}

.layui-tab-content {
    padding: 0 !important;
}