@import url(common/common.css);
@import url(common/margin.css);
@import url(../layui/css/layui.css);
html {
  overflow-x: hidden;
}
body {
  padding: 1rem 1rem;
}
.layui-btn,
.layui-input,
.layui-table-cell {
  font-size: 12px;
}
.layui-card {
  color: #666 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}
.layui-card .layui-card-header {
  font-size: medium;
  color: #666 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layui-card .layui-card-header > span:last-child {
  font-size: smaller !important;
}
.layui-card .layui-card-header button {
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}
.layui-card .layui-card-body {
  font-size: smaller !important;
}
.layui-card .layui-card-body * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layui-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
.name {
  cursor: default;
  color: #666;
  border-bottom: none !important;
}
.calendar-table .layui-disabled {
  color: #666 !important;
}
.calendar-table tr td:first-child {
  background-color: #f2f2f2;
}
.calendar-table thead th:not(:first-child):not(:last-child) {
  cursor: pointer;
}
.calendar-table thead th:not(:first-child):not(:last-child):hover {
  color: #fff;
  background-color: #13a3e9;
}
.calendar-table tbody td:not(:first-child) {
  padding: 0 0;
}
.calendar-table tbody > tr:hover {
  background-color: #fff !important;
}
.calendar-table tbody td > input[type=number] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: #666;
  text-indent: 15px;
  overflow: hidden;
  cursor: pointer;
  -moz-appearance: textfield;
}
.calendar-table tbody td > input[type=number]:hover {
  background-color: #f2f2f2;
}
.calendar-table tbody td > input[type=number]:not(.layui-disabled):focus {
  cursor: text;
  background-color: #fff;
}
.calendar-table tbody td > input[type=number]::-webkit-outer-spin-button,
.calendar-table tbody td > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calendar-table-day {
  margin: 0 !important;
}
.calendar-table-day tr,
.calendar-table-day th,
.calendar-table-day td {
  text-align: center;
  font-size: 12px;
}
.calendar-table-day th,
.calendar-table-day td {
  padding: 1px 10px;
}
.calendar-table-day th:first-child,
.calendar-table-day td:first-child {
  border-left: none;
}
.calendar-table-day th:last-child,
.calendar-table-day td:last-child {
  border-right: none;
}
.calendar-table-day tbody > tr:hover {
  background-color: #fff !important;
}
.calendar-table-day tbody td:hover {
  background-color: #f2f2f2;
}
.calendar-table-day tbody td > input[type=checkbox] {
  vertical-align: middle;
}
.calendar-table-day tbody td > input[type=number] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: #666;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  -moz-appearance: textfield;
}
.calendar-table-day tbody td > input[type=number]:hover {
  background-color: #f2f2f2;
}
.calendar-table-day tbody td > input[type=number]:not(.layui-disabled):focus {
  cursor: text;
  background-color: #fff;
}
.calendar-table-day tbody td > input[type=number]::-webkit-outer-spin-button,
.calendar-table-day tbody td > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calendar-table-day tr:last-child td {
  border-bottom: none;
}
.calendar-table-day th:first-child {
  border-left: none;
}
.calendar-table-day th:last-child {
  border-right: none;
}
.calendar-table-day td:nth-child(1) {
  border-left: none;
}
.calendar-table-day td:nth-child(7) {
  border-right: none;
}
.layui-layer-title {
  border-bottom: none !important;
}
.task-card {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #666 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}
.task-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
.task-card th,
.task-card td {
  padding: 10px 15px;
  border: solid 1px #e6e6e6;
}
.input-full {
  position: relative !important;
  padding: 0 0 !important;
}
.input-full input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: #666;
  text-indent: 15px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -moz-appearance: textfield;
}
.input-full input:hover {
  background-color: #f2f2f2;
}
.input-full input:not(.layui-disabled):focus {
  cursor: text;
  background-color: #fff;
}
.input-full input::-webkit-outer-spin-button,
.input-full input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title button {
  width: 50px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0 15px;
}
.layui-tab-content {
  padding: 0;
}
