@import url(common/common.css);
@import url(common/margin.css);
@import url(../layui/css/layui.css);
body {
  padding: 1rem 1rem;
}
.layui-btn,
.layui-input,
.layui-table-cell {
  font-size: 12px;
}
.layui-card {
  color: #666 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}
.layui-card .layui-card-header {
  font-size: medium;
  color: #666 !important;
  display: flex;
  justify-content: space-between;
}
.layui-card .layui-card-header > span:last-child {
  font-size: smaller !important;
}
.layui-card .layui-card-body {
  font-size: smaller !important;
}
.layui-card .layui-card-body * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.layui-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
.name {
  cursor: default;
  color: #666;
  border-bottom: none !important;
}
.row-gap {
  margin: -5px -5px !important;
}
.row-gap * {
  box-sizing: border-box !important;
}
.col-gap {
  padding: 5px 5px !important;
}
.calendar-table tr td:first-child {
  background-color: #f2f2f2;
}
.calendar-table thead th:not(:first-child):not(:last-child) {
  cursor: pointer;
}
.calendar-table thead th:not(:first-child):not(:last-child):hover {
  color: #fff;
  background-color: #13a3e9;
}
.calendar-table tbody td:not(:first-child) {
  padding: 0 0;
}
.calendar-table tbody > tr:hover {
  background-color: #fff !important;
}
.calendar-table tbody td > input[type=number] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: #666;
  text-indent: 15px;
  overflow: hidden;
  cursor: pointer;
  -moz-appearance: textfield;
}
.calendar-table tbody td > input[type=number]:hover {
  background-color: #f2f2f2;
}
.calendar-table tbody td > input[type=number]:not(.layui-disabled):focus {
  cursor: text;
  background-color: #fff;
}
.calendar-table tbody td > input[type=number]::-webkit-outer-spin-button,
.calendar-table tbody td > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calendar-table-day {
  margin: 0 !important;
}
.calendar-table-day tbody > tr:hover {
  background-color: #fff !important;
}
.calendar-table-day tbody td:hover {
  background-color: #f2f2f2;
}
.calendar-table-day tr:last-child td {
  border-bottom: none;
}
.layui-layer-title {
  border-bottom: none !important;
}
