* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 15px;
  /*1rem = 15px*/
}
a {
  text-decoration: none;
  /*超链接下划线消失*/
}
ul {
  list-style: none;
  /*列表符号消失*/
}
.row-gap {
  margin: -5px -5px !important;
}
.row-gap * {
  box-sizing: border-box !important;
}
.col-gap {
  padding: 5px 5px !important;
}
